{% extends 'portefolio/base.html' %}


{% block content %}

<h1>Tecnologias</h1>

<a href="{% url 'nova_tecnologia' %}">
    <button>Criar Tecnologia</button>
</a>

<hr>

{% for tecnologia in tecnologias %}

    <div>

        <h2>{{ tecnologia.nome }}</h2>

        <a href="{% url 'edita_tecnologia' tecnologia.id %}">
            <button>Editar</button>
        </a>

        <a href="{% url 'apaga_tecnologia' tecnologia.id %}">
            <button>Apagar</button>
        </a>

    </div>

    <hr>

{% endfor %}

{% endblock %}